<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento Base de Datos</title>
</head>
<body>
    <h1>Mantenimiento Base de Datos</h1>
    <a href="/usuarios">Mantenimiento Usuarios</a>
    <br>
    <a href="/aluminio">Mantenimiento Aluminio</a>
    <br>
    <a href="/vidrio">Mantenimiento Vidrio</a>
    <br>
    <a href="/modelos_ventana">Mantenimiento Modelos Ventana</a>

</body>
</html>