<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion tabla vidrio</title>
</head>
<body>
    <h1>Administracion tabla vidrio</h1>
    <form action="/modelos_ventana" method="POST">
        <select name="modelo" >
            <option value="O">O</option>
            <option value="XO">XO</option>
            <option value="OXO">OXO</option>
            <option value="OXXO">OXXO</option>
        </select>
        <br>
        <button type="submit" name="enviar">Enviar</button>
    </form>
</body>
</html>