<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Crear usuario</h1>
    <form action="/register" method="POST">
        <label for="name">User</label>
        <input type="text" name="name" required>
        <br><br>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <br><br>
        <label for="full_name">Nombre completo</label>
        <input type="text" name="full_name" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>